<div class="main-content">
<main>

  <h2 class="dash-title">les demandes qui en cours de traitement</h2>

  <section class="recent">
    <div class="activity-grid">
      <div class="activity-card">
        <div class="table-responsive ">
          <table>
            <thead>
            <tr >
              <th>Intitulé de la manifestation</th>
              <th>La reference de la demande</th>
              <th>Date de creation</th>
              <th>etat</th>
              <th>option</th>
            </tr>
            </thead>
            <tbody>
            <tr >
              <!--<tr *ngFor=" let c of hores | filter:userFilter.name">
                <td *ngIf="(hores | filter: userFilter.name).length === 0">No matching elements</td>
                <td>{{c.name}}</td>
                -->
              <td>la manifestation</td>
              <td class="td-team">
                <div>D1001</div>
              </td>
              <td>12/12/2000</td>
              <td>en cours de traitement</td>
              <td>
                <button class="btn btn-dark p-1" (click)="showDetails()">details</button>
              </td>
            </tr>

            <!-- <span class="badge warning">reffus</span> -->

            </tbody>
          </table>

        </div>
      </div>
    </div>
  </section>

</main>
  <div class="det" *ngIf="details==true">
    <div class="row m-3">
      <div class="quiter"><i class="fa fa-home" (click)="unshowDemande()"></i></div>
    </div>
    <div class="row m-3">
      <div class="col p-2"><span class="text-danger">La demande:</span></div>
      <div class="col p-2">manifestation</div>
    </div>
    <div class="row m-3 ">
      <div class="col p-1"><span class="text-danger">Reference:</span></div>
      <div class="col p-1">D17587</div>
    </div>
    <div class="row m-3">
      <div class="col p-1 "> <span class="text-danger">Status:</span></div>
      <div class="col p-1">en cours de traitement</div>
    </div>
    <div class="row m-3">
      <div class="col p-1 m-2"><button class="btn btn-success p-2 m-2">details</button></div>
      <div class="col p-1 m-2"><button class="btn btn-warning p-2 m-2">modefier</button></div>
      <div class="col p-1 m-2"><button class="btn btn-danger p-2 m-2">annuler</button></div>
    </div>
  </div>

</div>
