<section class="bg">
  <!-- <div class="bg"></div>  -->
  <header class="row">
    <a href="#" class="logo col-md-6">Demande Soutien pour les manifestation scientifiques</a>
    <ul class="navigation col-md-4">
      <li ><a routerLink="/loginUser" class="active">Sign-in</a></li>
      <li ><a routerLink="/demande">Postuler</a></li>
      <li ><a href="/details">Comment postuler?</a></li>
    </ul>
  </header>
  <div class="contenu">
    <div class="text-boite">
      <h2> Université Cady Ayyad</h2>
      <p> Espace réservé pour la demande des soutien pour les manifestations qui se déroulent dans l'un des établissements de l'université
      </p>
      <a href="#" class="btn"> <span></span>Savoir plus</a>
    </div>
  </div>
</section>
