.test{
  height: 60px;
  padding: 10px;
}
.test:hover,.actived,.test:focus{
  background-color: #f1f5f9;
}

li:hover,.active{
  border-bottom:1px solid #1D2231;
  color: #1D2231;
}
.souso{
  color: #f1f5f9;
  display: flex;
  align-items: center;
  left:  38.2rem;
}
.souso:hover,.activedd{
  color: #1D2231;
  display: flex;
  align-items: center;
  left:  38.2rem;
}

.container-fluid{
  height: 60px;
  margin: 0;
}

