<section class="bg">
  <div class="container py-5 h-100">
    <h1 class="text-center text-white">Demande de soutien pour une manifestation</h1>
    <div class="row">
      <div class="card-body px-4 py-5 px-md-5">
        <form class="msform">
          <!-- progressbar -->
          <ul id="progressbar">
            <li [ngClass]="step>=1 ? 'active ' : 'inactive'">Info sur la manifestation</li>
            <li [ngClass]="step>=2 ? 'active' : 'inactive'">Chargés de l'organisation</li>
            <li [ngClass]="step==3 ? 'active' : 'inactive'">Les contributions</li>
            <li [ngClass]="step==4 ? 'active' : 'inactive'">Soutiens sollicités</li>
          </ul>
          <!-- fieldsets -->
          <fieldset *ngIf="step == 1">
            <h3 style="color:white">Informations sur La Manifestation</h3>
            <div class="form">
              <input type="text" [(ngModel)]="manifestation.name" [ngModelOptions]="{standalone: true}"
                     [ngClass]="{ 'is-invalid': personal_step && personal['name'].errors }"
                     placeholder="Manifestation"/>
              <div *ngIf="personal_step && personalDetails.controls['name'].errors">
                <div *ngIf="personal['name'].errors?.['required']">Name is required</div>
              </div>

              <input type="text" [(ngModel)]="manifestation.lieu" name="lieu" placeholder="Lieu"
                     [ngModelOptions]="{standalone: true}"/>
              <div *ngIf="personal_step && personalDetails.controls['lieu'].errors">
                <div *ngIf="personal['lieu'].errors?.['required']">lieu is required</div>
              </div>

              <input type="number" [(ngModel)]="manifestation.nbrParticipantPrevu" name="nbrParticipantPrevu"
                     [ngModelOptions]="{standalone: true}" placeholder="Nombre de participants"/>
              <div *ngIf="personal_step && personalDetails.controls['nbrParticipantPrevu'].errors">
                <div *ngIf="personal['nbrParticipantPrevu'].errors?.['required']">nombre is required</div>
              </div>

              <input type="text" [(ngModel)]="manifestation.siteWeb" name="siteWeb" placeholder="site web"/>
              <div *ngIf="personal_step && personalDetails.controls['siteWeb'].errors">
                <div *ngIf="personal['siteWeb'].errors?.['required']">site web is required</div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <input type="text" [(ngModel)]="manifestation.etendue" [ngModelOptions]="{standalone: true}"
                         [ngClass]="{ 'is-invalid': personal_step && personal['name'].errors }" placeholder="Etendue"/>
                  <div *ngIf="personal_step && personalDetails.controls['name'].errors">
                    <div *ngIf="personal['name'].errors?.['required']">Name is required</div>
                  </div>
                </div>
                <div class="col-md-4">
                  <input type="Date" [(ngModel)]="manifestation.dateStart" name="dateStart" placeholder="date début"/>
                  <div *ngIf="personal_step && personalDetails.controls['lieu'].errors">
                    <div *ngIf="personal['lieu'].errors?.['required']">lieu is required</div>
                  </div>
                </div>
                <div class="col-md-4">
                  <input type="Date" [(ngModel)]="manifestation.dateEnd" placeholder="date fin"
                         [ngModelOptions]="{standalone: true}"/>
                  <div *ngIf="personal_step && personalDetails.controls['nbrParticipantPrevu'].errors">
                    <div *ngIf="personal['nbrParticipantPrevu'].errors?.['required']">nombre is required</div>
                  </div>
                </div>
              </div>
              <div class="row mt-5"> <!--etabli-->
                <div class="col">
                  <div class="row">
                    <div class="col-md-10">
                      <input type="text" placeholder="établissements impliqués" class="form-control"
                             [(ngModel)]="selectedImplicatedEstablishments.name" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="col-md-2">
                      <button class="btn btn-block btn-danger" (click)="addImplicatedEstablishment()">+</button>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <table class="table table-striped table-hover">
                      <thead>
                      <th>Etablissement</th>
                      <th>Action</th>
                      <th>modifie</th>
                      </thead>
                      <tbody>
                      <tr *ngFor="let e of manifestation.implicatedEstablishments; index as i">
                        <td>{{e.name}}</td>
                        <td><span (click)="deleteImplicatedEstablishment(i)"><i
                          class="fa fa-trash btn btn-danger"></i> </span></td>
                        <td><span (click)="updateImplicatedEstablishment(i,e)"><i
                          class="fa fa-edit btn btn-warning"></i> </span></td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="col">
                  <div class="row">

                    <div class="col-md-10">
                      <input type="text" placeholder="partenaires impliqués" class="form-control"
                             [(ngModel)]="selectedImplicatedPartner.name" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="col-md-2">
                      <button class="btn btn-block btn-danger" (click)="addImplicatedPartner()">+</button>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <table class="table table-striped table-hover">
                      <thead>
                      <th>Partenaire</th>
                      <th>Action</th>
                      <th>modifie</th>
                      </thead>
                      <tbody>
                      <tr *ngFor="let p of manifestation.implicatedPartners; index as i">
                        <td>{{p.name}}</td>
                        <td><span (click)="deleteImplicatedPartner(i)"><i class="fa fa-trash btn btn-danger p-2"></i> </span>
                        </td>
                        <td><span (click)="updateImplicatedPartner(i,p)"><i class="fa fa-edit btn btn-warning p-2"></i> </span>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>


            <input (click)="next()" type="button" name="next" class="next action-button"
                   style="background-color: #f1f5f9;color: #1D2231" value="Next"/>
          </fieldset>
        </form>


        <form [formGroup]="addressDetails" class="msform">
          <fieldset *ngIf="step == 2">


            <h3 style="color:white">chargés de l'organisation</h3>
            <form>
              <div class="container-fluid form" >
                <h5 style="color: black">Entité chargée de l'organistation</h5>
                <div class="row">
                  <div class="col-md-6 mb-4 mt-4">
                    <div class="row">
                      <div class="col-md-7"><label class="text-white">Nom de l'entité de recherche:</label></div>
                      <div class="col-md-5">
                        <select class="select" [(ngModel)]="manifestation.entityOrganisation.name"
                                [ngModelOptions]="{standalone: true}">
                          <option value="None">None</option>
                          <option value="Laboratoire">Laboratoire</option>
                          <option value="Equipe">Equipe</option>
                          <option value="Unité">Unité</option>
                          <option value="Centre">Centre</option>
                          <option value="Groupe">Groupe</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <input type="text" [(ngModel)]="manifestation.entityOrganisation.responsableName"
                           placeholder="Responsable de l'entité" [ngModelOptions]="{standalone: true}"/>
                    <div *ngIf="address_step && entityDetails.controls['responsableName'].errors">
                      <div *ngIf="entity['responsableName'].errors?.['required']">City is required</div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <input type="text" [(ngModel)]="manifestation.entityOrganisation.establishmentName" placeholder="Etablissement"
                           [ngModelOptions]="{standalone: true}"/>
                    <div *ngIf="address_step && entityDetails.controls['establishmentName'].errors">
                      <div *ngIf="entity['establishmentName'].errors?.['required']">City is required</div>
                    </div>
                  </div>
                </div>
              </div>
            </form>

            <div class="container-fluid mt-5 form" >
              <h5 style="color: black">Coordonnateur de la manifestation</h5>
              <div class="row">
                <div class="col-md-4">
                  <input type="text" [(ngModel)]="manifestation.coordonnateur.lastName" placeholder="Nom"
                         [ngModelOptions]="{standalone: true}"/>
                  <div *ngIf="address_step && addressDetails.controls['lastName'].errors">
                    <div *ngIf="address['lastName'].errors?.['required']">Pincode is required</div>
                  </div>
                </div>
                <div class="col-md-4">
                  <input type="text" [(ngModel)]="manifestation.coordonnateur.firstName" placeholder="Prénom"
                         [ngModelOptions]="{standalone: true}"/>
                  <div *ngIf="address_step && addressDetails.controls['firstName'].errors">
                    <div *ngIf="address['firstName'].errors?.['required']">Pincode is required</div>
                  </div>
                </div>
                <div class="col-md-4">
                  <input type="text" [(ngModel)]="manifestation.coordonnateur.grade" placeholder="Grade"
                         [ngModelOptions]="{standalone: true}"/>
                  <div *ngIf="address_step && addressDetails.controls['grade'].errors">
                    <div *ngIf="address['grade'].errors?.['required']">Pincode is required</div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <input type="text" [(ngModel)]="manifestation.coordonnateur.establishmentName" placeholder="Etablissement"
                         [ngModelOptions]="{standalone: true}"/>
                  <div *ngIf="address_step && addressDetails.controls['establishmentName'].errors">
                    <div *ngIf="address['establishmentName'].errors?.['required']">Pincode is required</div>
                  </div>
                </div>
                <div class="col-md-6">
                  <input type="text" [(ngModel)]="manifestation.coordonnateur.email" placeholder="Email"
                         [ngModelOptions]="{standalone: true}"/>
                  <div *ngIf="address_step && addressDetails.controls['email'].errors">
                    <div *ngIf="address['email'].errors?.['required']">Pincode is required</div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <input type="number" [(ngModel)]="manifestation.coordonnateur.tel" placeholder="N° de Téléphone"
                         [ngModelOptions]="{standalone: true}"/>
                  <div *ngIf="address_step && addressDetails.controls['tel'].errors">
                    <div *ngIf="address['tel'].errors?.['required']">Pincode is required</div>
                  </div>
                </div>
                <div class="col-md-6">
                  <input type="number" [(ngModel)]="manifestation.coordonnateur.fax" placeholder="Fax"
                         [ngModelOptions]="{standalone: true}"/>
                  <div *ngIf="address_step && addressDetails.controls['fax'].errors">
                    <div *ngIf="address['fax'].errors?.['required']">Pincode is required</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="form mt-4">
              <h5 style="color: black"> Les membres de comité d'organisation</h5>
              <div class="row">
                <div class="col-md-6">
                  <input type="text" placeholder="Nom" [(ngModel)]="selectedCommitteeOrganisation.lastName"
                         [ngModelOptions]="{standalone: true}"/>
                  <!-- <div *ngIf="address_step && addressDetails.controls['city'].errors">
                      <div *ngIf="address['city'].errors?.['required']">City is required</div>
                    </div> -->
                </div>
                <div class="col-md-6">
                  <input type="text" placeholder="Prénom" [(ngModel)]="selectedCommitteeOrganisation.firstName"
                         [ngModelOptions]="{standalone: true}"/>
                  <!--  <div *ngIf="address_step && addressDetails.controls['city'].errors">
                      <div *ngIf="address['city'].errors?.['required']">City is required</div>
                    </div> -->
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <input type="text" placeholder="Etablissement"
                         [(ngModel)]="selectedCommitteeOrganisation.establishmentName"
                         [ngModelOptions]="{standalone: true}"/>
                  <!--   <div *ngIf="address_step && addressDetails.controls['city'].errors">
                         <div *ngIf="address['city'].errors?.['required']">City is required</div>
                       </div> -->
                </div>
                <div class="col-md-6">
                  <input type="text" placeholder="Université" [(ngModel)]="selectedCommitteeOrganisation.universityName"
                         [ngModelOptions]="{standalone: true}"/>
                  <!--  <div *ngIf="address_step && addressDetails.controls['city'].errors">
                         <div *ngIf="address['city'].errors?.['required']">City is required</div>
                       </div>  -->
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <input type="text" placeholder="Email" [(ngModel)]="selectedCommitteeOrganisation.email"
                         [ngModelOptions]="{standalone: true}"/>
                  <!--     <div *ngIf="address_step && addressDetails.controls['city'].errors">
                         <div *ngIf="address['city'].errors?.['required']">City is required</div>
                       </div> -->
                </div>
                <div class="col-md-6">
                  <input type="number" placeholder="N° de Téléphone" [(ngModel)]="selectedCommitteeOrganisation.tel"
                         [ngModelOptions]="{standalone: true}"/>
                  <!--   <div *ngIf="address_step && addressDetails.controls['city'].errors">
                         <div *ngIf="address['city'].errors?.['required']">City is required</div>
                       </div> -->
                </div>
              </div>
              <div class="col-md-2 offset-10">
                <button class="btn btn-outline-danger" (click)="addCommitteeOrganisation()">Ajouter</button>
              </div>
              <div class="mt-3">
                <table class="table table-striped table-hover">
                  <thead>
                  <th>Nom</th>
                  <th>Prénom</th>
                  <th>Etablissement</th>
                  <th>Université</th>
                  <th>Tel</th>
                  <th>Email</th>
                  <th>Action</th>
                  </thead>
                  <tbody>
                  <tr *ngFor="let c of committeeOrganisations;index as i">
                    <td>{{c.lastName}}</td>
                    <td>{{c.firstName}}</td>
                    <td>{{c.establishmentName}}</td>
                    <td>{{c.universityName}}</td>
                    <td>{{c.tel}}</td>
                    <td>{{c.email}}</td>
                    <td><span (click)="deleteCommitteeOrganisation(i)"><i
                      class="fa fa-trash btn btn-danger"></i> </span></td>
                    <td><span (click)="updateCommitteeOrganisation(i,c)"><i
                      class="fa fa-edit btn btn-warning"></i> </span></td>
                  </tr>
                  </tbody>
                </table>
              </div>

            </div>

            <input (click)="previous()" type="button" style="background-color: #666666" name="previous"
                   class="previous action-button-previous" value="Previous"/>
            <input (click)="next()" type="button" style="background-color: #f1f5f9;color: #1D2231"  name="next"
                   class="next action-button" value="Next"/>

          </fieldset>
        </form>


        <form class="msform">
          <fieldset *ngIf="step == 3">
            <h3 style="color:white">Les contributions</h3>

            <div class=" form mt-5">
              <h5 class="text-black">Contribution des participants</h5>
              <div class="row">
                <div class="col-md-4">
                  <input type="text" placeholder="Nom" [(ngModel)]="selectedContributionParticipant.lastName"
                         [ngModelOptions]="{standalone: true}"/>
                  <div *ngIf="education_step && educationalDetails.controls['highest_qualification'].errors">
                    <div *ngIf="education['highest_qualification'].errors?.['required']">Highest qualification is
                      required
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <input type="text" placeholder="Prénom" [(ngModel)]="selectedContributionParticipant.firstName"
                         [ngModelOptions]="{standalone: true}"/>
                  <div *ngIf="education_step && educationalDetails.controls['highest_qualification'].errors">
                    <div *ngIf="education['highest_qualification'].errors?.['required']">Highest qualification is
                      required
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <input type="text" placeholder="Cin" [(ngModel)]="selectedContributionParticipant.cin"
                         [ngModelOptions]="{standalone: true}"/>
                  <div *ngIf="education_step && educationalDetails.controls['highest_qualification'].errors">
                    <div *ngIf="education['highest_qualification'].errors?.['required']">Highest qualification is
                      required
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-8 mt-4">
                  <label class="text-black">Fonction : </label>
                  <select class="select" [(ngModel)]="selectedContributionParticipant.fonction"
                          [ngModelOptions]="{standalone: true}">
                    <option value="None">None</option>
                    <option value="Enseignant chercheur de l'université">Enseignant chercheur de l'université</option>
                    <option value="Enseignant chercheur d'autre université">Enseignant chercheur d'autre université
                    </option>
                    <option value="Professionnel">Professionnel</option>
                    <option value="Etudiant chercheur">Etudiant chercheur</option>
                    <option value="Autre">Autre</option>
                  </select>
                </div>
                <div class="col-md-4">
                  <input type="number" placeholder="Montant *" [(ngModel)]="selectedContributionParticipant.montant"
                         [ngModelOptions]="{standalone: true}"/>
                  <div *ngIf="education_step && educationalDetails.controls['highest_qualification'].errors">
                    <div *ngIf="education['highest_qualification'].errors?.['required']">Highest qualification is
                      required
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-2 offset-10 mb-4">
                <button class="btn btn-block btn-danger col-md-3 offset-2 mb-3" (click)="addContributionParticipant()">
                  +
                </button>
              </div>
              <table class="table table-striped table-hover">
                <thead>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Cin</th>
                <th>Fonction</th>
                <th>Montant</th>
                <th>Action</th>
                </thead>
                <tbody>
                <tr *ngFor="let p of contributionParticipantService.contributionParticipants;index as i">
                  <td>{{p.firstName}}</td>
                  <td>{{p.lastName}}</td>
                  <td>{{p.cin}}</td>
                  <td>{{p.fonction}}</td>
                  <td>{{p.montant}}</td>
                  <td><span><i class="fa fa-trash btn btn-danger"></i> </span></td>
                  <td><span><i class="fa fa-edit btn btn-warning"></i> </span></td>
                </tr>
                </tbody>
              </table>
            </div>

            <div class=" form mt-5" >
              <h5 class="text-black">Contribution des établissements</h5>
              <div class="row">
                <div class="col-md-6">
                  <input type="text" placeholder="Nom d'établissement"
                         [(ngModel)]="selectedContributionEstablishment.establishmentName"
                         [ngModelOptions]="{standalone: true}"/>
                  <div *ngIf="education_step && educationalDetails.controls['highest_qualification'].errors">
                    <div *ngIf="education['highest_qualification'].errors?.['required']">Highest qualification is
                      required
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <input type="number" placeholder="Montant de contribution"
                         [(ngModel)]="selectedContributionEstablishment.montant" [ngModelOptions]="{standalone: true}"/>
                  <div *ngIf="education_step && educationalDetails.controls['highest_qualification'].errors">
                    <div *ngIf="education['highest_qualification'].errors?.['required']">Highest qualification is
                      required
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mt-4">
                  <label class="text-black">Nature : </label>
                  <select class="select" [(ngModel)]="selectedContributionEstablishment.nature"
                          [ngModelOptions]="{standalone: true}">
                    <option value="None" (click)="autreMoins()">None</option>
                    <option value="Hébergement" (click)="autreMoins()">Hébergement</option>
                    <option value="Restauration" (click)="autreMoins()">Restauration</option>
                    <option value="Pause café" (click)="autreMoins()">Pause café</option>
                    <option value="Impression de document" (click)="autreMoins()">Impression de document</option>
                    <option value="Autre" (click)="autrePlus()">Autre</option>
                  </select>
                </div>
                <div *ngIf="stepAutre1==1" class="col-md-6">
                  <div class="row">
                    <div class="col-md-4 mt-3"><label>précisez:</label></div>
                    <div class="col-md-6">
                      <input type="text" [(ngModel)]="selectedContributionEstablishment.nature"
                             [ngModelOptions]="{standalone: true}" placeholder="Précisez"/>
                      <div *ngIf="education_step && educationalDetails.controls['highest_qualification'].errors">
                        <div *ngIf="education['highest_qualification'].errors?.['required']">précisez</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-2 offset-10 mb-4">
                <button class="btn btn-block btn-danger col-md-3 offset-2" (click)="addContributionEstablishment()">+
                </button>
              </div>


              <table class="table table-striped table-hover">
                <thead>
                <th>Nom d'établissement</th>
                <th>Montant</th>
                <th>Nature</th>
                <th>Action</th>
                </thead>
                <tbody>
                <tr *ngFor="let ce of manifestation.contributionEstablishments;index as i">
                  <td>{{ce.establishmentName}}</td>
                  <td>{{ce.montant}}</td>
                  <td>{{ce.nature}}</td>
                  <td><span><i class="fa fa-trash btn btn-danger"></i> </span></td>
                  <td><span><i class="fa fa-edit btn btn-warning"></i> </span></td>
                </tr>
                </tbody>
              </table>
            </div>

            <div class=" form mt-5">
              <h5 class="text-black">Contribution des Sponsors</h5>
              <div class="row">
                <div class="col-md-6">
                  <input type="text" placeholder="Nom d'organisme" [(ngModel)]="selectedContributionSponsor.organisme"
                         [ngModelOptions]="{standalone: true}"/>
                  <!--   <div *ngIf="education_step && educationalDetails.controls['highest_qualification'].errors">
                       <div *ngIf="education['highest_qualification'].errors?.['required']">Highest qualification is required</div>
                     </div> -->
                </div>
                <div class="col-md-6">
                  <input type="number" placeholder="Montant de contribution"
                         [(ngModel)]="selectedContributionSponsor.montant" [ngModelOptions]="{standalone: true}"/>
                  <!--   <div *ngIf="education_step && educationalDetails.controls['highest_qualification'].errors">
                       <div *ngIf="education['highest_qualification'].errors?.['required']">Highest qualification is required</div>
                     </div> -->
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mt-4">
                  <label class="text-black">Nature : </label>
                  <select class="select" [(ngModel)]="selectedContributionSponsor.nature"
                          [ngModelOptions]="{standalone: true}">
                    <option value="None" (click)="autreMoinsc()">None</option>
                    <option value="Hébergement" (click)="autreMoinsc()">Hébergement</option>
                    <option value="Restauration" (click)="autreMoinsc()">Restauration</option>
                    <option value="Pause café" (click)="autreMoinsc()">Pause café</option>
                    <option value="Impression de document" (click)="autreMoinsc()">Impression de document</option>
                    <option value="Autre" (click)="autrePlusc()">Autre</option>
                  </select>
                </div>
                <div *ngIf="stepAutre2==1" class="col-md-6">
                  <div class="row">
                    <div class="col-md-4 mt-3"><label>précisez:</label></div>
                    <div class="col-md-6">
                      <input type="text" [(ngModel)]="selectedContributionSponsor.nature"
                             [ngModelOptions]="{standalone: true}" placeholder="Précisez"/>
                      <!--   <div *ngIf="education_step && educationalDetails.controls['highest_qualification'].errors">
                           <div *ngIf="education['highest_qualification'].errors?.['required']">précisez</div>
                         </div>  -->
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-2 offset-10 mb-4">
                <button class="btn btn-block btn-danger col-md-3 offset-2" (click)="addContributionSponsor()">+</button>
              </div>
              <table class="table table-striped table-hover">
                <thead>
                <th>Nom d'établissement</th>
                <th>Montant</th>
                <th>Nature</th>
                <th>Action</th>
                </thead>
                <tbody>
                <tr *ngFor="let cs of manifestation.contributionSponsors;index as i">
                  <td>{{cs.organisme}}</td>
                  <td>{{cs.montant}}</td>
                  <td>{{cs.nature}}</td>
                  <td><span><i class="fa fa-trash btn btn-danger"></i> </span></td>
                  <td><span><i class="fa fa-edit btn btn-warning"></i> </span></td>
                </tr>
                </tbody>
              </table>
            </div>

            <input (click)="previous()" type="button" style="background-color: #666666" name="previous"
                   class="previous action-button-previous" value="Previous"/>
            <input (click)="next()" type="button" style="background-color: #f1f5f9;color: #1D2231"  name="next"
                   class="next action-button" value="Next"/>
            <!-- <input (click)="submit()"type="submit" name="submit" class="submit action-button" value="Submit"/> -->
          </fieldset>
        </form>

        <form class="msform">
          <fieldset *ngIf="step == 4">
            <h3 style="color:white">Les soutiens sollicités de l'université</h3>
            <div class="form">
              <div class="row">
                <div class="col-md-9 mt-4">
                  <label class="text-black">Rubrique : </label>
                  <select class="select" [(ngModel)]="selectedSoutien.rubrique" [ngModelOptions]="{standalone: true}">
                    <option value="None">None</option>
                    <option value="Frais d'impression du proceding, actes, compte rendu">Frais d'impression du
                      proceding, actes, compte rendu
                    </option>
                    <option value="pause Café de la réception (forfait 20Dh/personne)">pause Café de la réception
                      (forfait 20Dh/personne)
                    </option>
                    <option value="Repas (forfait 100Dh/personne">Repas (forfait 100Dh/personne</option>
                    <option value="Hébergement (forfait 250Dh/nuité">Hébergement (forfait 250Dh/nuité</option>
                    <option value="Transport interne (cas de sortie ou travaux sur terrain">Transport interne (cas de
                      sortie ou travaux sur terrain
                    </option>
                  </select>
                </div>
                <div class="col-md-3 mt-2">
                  <input type="number" placeholder="nombre" [(ngModel)]="selectedSoutien.nombre"
                         [ngModelOptions]="{standalone: true}"/>

                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <input type="number" placeholder="montant" [(ngModel)]="selectedSoutien.montant"
                         [ngModelOptions]="{standalone: true}"/>

                </div>
                <div class="col-md-9">
                  <input type="text" placeholder="remarque" [(ngModel)]="selectedSoutien.remarqueUser"
                         [ngModelOptions]="{standalone: true}"/>

                </div>
              </div>
              <div class="col-md-2 offset-10 mt-3">
                <button class="btn btn-block btn-danger" (click)="addSoutien()">Ajouter</button>
              </div>

              <table class="table table-striped table-hover mt-2">
                <thead>
                <th>Rubrique</th>
                <th>Nombre</th>
                <th>Montant</th>
                <th>Remarque</th>
                <th>Action</th>
                </thead>
                <tbody>
                <tr *ngFor="let s of manifestation.soutiens;index as i">
                  <td>{{s.rubrique}}</td>
                  <td>{{s.nombre}}</td>
                  <td>{{s.montant}}</td>
                  <td>{{s.remarqueUser}}</td>
                  <td><span><i class="fa fa-trash btn btn-danger"></i> </span></td>
                  <td><span><i class="fa fa-edit btn btn-warning"></i> </span></td>
                </tr>
                </tbody>
              </table>
            </div>
            <input (click)="previous()" style="background-color: #666666" type="button" name="previous"
                   class="previous action-button-previous" value="Previous"/>
            <input (click)="submit()" type="submit" style="background-color: #027581;color: #1D2231;border: none"  name="submit"
                   class="submit action-button" value="Enregistrer"/>
            <fieldset style="background-color: white" *ngIf="stepp == 1">
              <label>Maintenant vous pouvez imprimer la fiche de votre demande</label>
              <input (click)="print()" style="background-color: darkred" type="submit" name="print"
                     class="submit action-button" value="imprimer"/>
              <a *ngIf="steptelechargement == 2" (click)="printReport()"
                 href="http://localhost:8070/api/v1/report/generate">Télécharger pdf</a>
            </fieldset>
          </fieldset>
        </form>


      </div>
    </div>
  </div>
</section>


